@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.sidebar-container {
  font-family: 'Poppins', sans-serif;
  transition: width 0.3s ease;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.margincardbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #e5e7eb; /* Tailwind's gray-200 */
}
.collapse-toggle-button {
  align-self: flex-end;
  margin: 8px;
  padding: 6px;
  border-radius: 4px;
  background: #f1f1f1;
  transition: background 0.2s;
}

.collapse-toggle-button:hover {
  background: #e0e0e0;
}
